@using TPFinal.Models;
<title>
    BackOffice
</title>
<html>

<body>
    <p>Si deseas agregar una noticia hace clik <a href="@Url.Action("SubirNoticias","BackOffice")">aqui</a> </p></p>
    <p>Si deseas borrar una noticia hace clik <a href="@Url.Action("BajarNoticias","BackOffice", null, null)">aqui</a> </p></p>
    <p>Si deseas actualizar una noticia hace clik <a href="@Url.Action("UpdateNoticias","BackOffice", null, null)">aqui</a> </p></p>
</body>



</html>
