<link rel="stylesheet" href="~/Content/animate.css">
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/classy-nav.css">
<link rel="stylesheet" href="~/Content/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/magnific-popup.css">
<link rel="stylesheet" href="~/Content/owl.carousel.min.css">
<link rel="stylesheet" href="~/Content/style.css">
<link rel="stylesheet" href="~/Content/catagory.html">
<link rel="stylesheet" href="~/Content/contact.html">
<link rel="stylesheet" href="~/Content/single-post.html">

@using TPFinal.Models;
<title>
    BackOffice
</title>
<html>

<body>
    <p>Si deseas agregar una noticia hace clik <a href="@Url.Action("SubirNoticias","BackOffice")">aqui</a> </p></p>
    <p>Si deseas borrar una noticia hace clik <a href="@Url.Action("BajarNoticias","BackOffice", null, null)">aqui</a> </p></p>
    <p>Si deseas actualizar una noticia hace clik <a href="@Url.Action("UpdateNoticias","BackOffice", null, null)">aqui</a> </p></p>
</body>



</html>
