@using TPFinal.Models

<h2>BorrarNoticia</h2>
<table>
    @foreach (Noticias Not in ViewBag.ListaNoticias)
    {

        <tr> 
            <th>@ViewBag.Titulo</th>
        </tr>
        <tr>Si desea borrar la noticia haga clik </tr>

    }
    </table>
