@using TPFinal.Models
@model  Usuarios
@{

    @Html.BeginForm("CrearUsuarios", "BackOffice", FormMethod.Post)
    {
        <p>Usuario:</p> @Html.TextBoxFor(model => model.Nombre) <br />
        <p>Contraseña:</p> @Html.PasswordFor(model => model.Clave) @Html.ValidationMessageFor(model => model.Clave); <br />
        <input type="submit" value="Enviar" />
    }


}


