@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    <strong>Instagram:</strong>    <a title="Instagram" href="https://www.instagram.com/amisraeldefense/?hl=es-la"><img src="~/Content/Instagram.jpg" alt="Instagram" /></a>
    <strong>Twitter:</strong>    <a title="Twitter" href="https://twitter.com/AmIsraelDefense"><img src="~/Content/twitter.png" alt="Twitter" /></a>
    <strong>Facebook:</strong>    <a title="Facebook" href="https://www.facebook.com/am_israel_defense-2479349398965023/"><img src="~/Content/Facebook.png" alt="facebook" /></a>
    <strong>Correo Electronico:</strong> <a href="info@AmIsraelDefense.com">info@AmIsraelDefense.com</a>
</address>