<link rel="stylesheet" href="~/Content/animate.css">
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/classy-nav.css">
<link rel="stylesheet" href="~/Content/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/magnific-popup.css">
<link rel="stylesheet" href="~/Content/owl.carousel.min.css">
<link rel="stylesheet" href="~/Content/style.css">
<link rel="stylesheet" href="~/Content/catagory.html">
<link rel="stylesheet" href="~/Content/contact.html">
<link rel="stylesheet" href="~/Content/single-post.html">

<body style="background-image:url('/Content/banderillaisrael.jpg');background-attachment: fixed;background-repeat: no-repeat;background-size: cover;">
    @{
        ViewBag.Title = "Contact";
    }
    <h2>@ViewBag.Title.</h2>


    <address>
        <strong>Instagram:</strong>    <a title="Instagram" href="https://www.instagram.com/amisraeldefense/?hl=es-la"> <div> <img class="instagram" src="~/Content/Instagram.jpg" alt="Instagram" /> </div> </a>
        <strong>Twitter:</strong>    <a title="Twitter" href="https://twitter.com/AmIsraelDefense"> <div> <img class="Twitter" src="~/Content/twitter.png" alt="Twitter" /> </div> </a>
        <strong>Facebook:</strong>    <a title="Facebook" href="https://www.facebook.com/am_israel_defense-2479349398965023/"> <div> <img class="Facebook" src="~/Content/Facebook.png" alt="facebook" /> </div> </a>
        <strong>Correo Electronico:</strong> <a href="info@AmIsraelDefense.com">info@AmIsraelDefense.com</a>
    </address>

</body>