@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong>   <a href="AmIsraelDefense@gmail.com">AmIsraelDefense@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="info@AmIsraelDefense.com">info@AmIsraelDefense.com</a>
</address>
<address>
    <strong>Instagram:</strong>   <a href="instagram.com/amisraeldefense">instagram.com/amisraeldefense</a><br />
    <strong>Twitter:</strong> <a href="twitter.com/AmIsraelDefense">twitter.com/AmIsraelDefense</a>
    <strong>Facebook:</strong> <a href="facebook.com/Am_Israel_Defense">facebook.com/Am_Israel_Defense</a>
</address>