@{
    ViewBag.Title = "Index";

}
<div class="TituloTeleNews">
    <link rel="stylesheet" href="~/Content/Site.css">
    <p class="TituloTeleNews">@ViewBag.Destacada.Titulo</p>

</div>

<div class="TeleNews">
    <link rel="stylesheet" href="~/Content/Site.css">
    <img class="fotoTeleNews" src="~/Content/@ViewBag.Destacada.Imagen" alt="Home" />


</div>

