<link rel="stylesheet" href="~/Content/animate.css">
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/classy-nav.css">
<link rel="stylesheet" href="~/Content/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/magnific-popup.css">
<link rel="stylesheet" href="~/Content/owl.carousel.min.css">
<link rel="stylesheet" href="~/Content/style.css">
<link rel="stylesheet" href="~/Content/catagory.html">
<link rel="stylesheet" href="~/Content/contact.html">
<link rel="stylesheet" href="~/Content/single-post.html">
<link rel="stylesheet" href="~/Content/elements.html">
<link rel="stylesheet" href="~/Content/index.html">
<link rel="stylesheet" href="~/Content/_fonts.scss">
<link rel="stylesheet" href="~/Content/_mixin.scss">
<link rel="stylesheet" href="~/Content/_responsive.scss">
<link rel="stylesheet" href="~/Content/_theme_color.scss">




@using TPFinal.Models
<body style="background-image:url('/Content/fondoblanco.jpg');background-attachment: fixed;background-repeat: no-repeat;background-size: cover;">

    <h1>Para los Amantes de la Verdad</h1>
    <table>
        <tr>

            </tr>

    

      



        

        @foreach (Noticias Not in ViewBag.ListaNoticias)
        {
            <tr>
              <td>  <th>@Not.Titulo</th> </td>

            </tr>
            <tr>
                @{
                    string desc = Not.Descripcion;
                    /*if (desc.Length > 50)
                    {
                        desc = desc.Substring(0, 50);
                    }*/

                   <td>@desc <a href="@Url.Action("Noticias","Home", new {id = Not.IdNoticia }, null)">+</a></td>

                }

            </tr>
            <tr>
                <th>
                    <img class="Imagen" src="~/Content/@Not.Multimedia" alt="Se rompio la foto:(" />
                </th>
            </tr>

        }
    </table>
</body>
