@using TPFinal.Models
 
<h1>Noticias</h1>
<table>
    @foreach (Noticias Not in ViewBag.ListaNoticias)
    {
        <tr>
            <th>@Not.Titulo</th>
         
        </tr>
        <tr>
            @{
                string desc = Not.Descripcion;
                if (desc.Length > 50)
                {
                    desc = desc.Substring(1, 50);
                }

                <td>@desc <a href="@Url.Action("Noticias","Home", new {id = Not.IdNoticia }, null)">...</a></td>

            }

        </tr>
        <tr>
    <th>
       <img src="~/Content/@Not.Multimedia" alt="Se rompio la foto:("/>
    </th>
        </tr>

    }
</table>