<link rel="stylesheet" href="~/Content/animate.css">
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/classy-nav.css">
<link rel="stylesheet" href="~/Content/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/magnific-popup.css">
<link rel="stylesheet" href="~/Content/owl.carousel.min.css">
<link rel="stylesheet" href="~/Content/style.css">
<link rel="stylesheet" href="~/Content/catagory.html">
<link rel="stylesheet" href="~/Content/contact.html">
<link rel="stylesheet" href="~/Content/single-post.html">


    @using TPFinal.Models;
<html>





<body style="background-image:url('/Content/fondoblanco.jpg');background-attachment: fixed;background-repeat: no-repeat;background-size: cover;">

    <style>
        h1 {
            color: #000000;
            font-weight: bold;
            font-size: 25px;
        }
            


    </style>

    <h1>
        @ViewBag.Noticia.Titulo
    </h1>
    
    <style>
        p {
            color: #000000;
            font-weight: bold;
        }
    </style>

    <h3>
        @ViewBag.Noticia.Descripcion
    </h3>

    <img src="~/Content/@ViewBag.Noticia.Multimedia" alt="Se rompio la foto:(" />

</body>


</html>
 


