@using TPFinal.Models;
<html>

    <head>
        @ViewBag.Noticia.Titulo
    </head>
    <body>
        <p>@ViewBag.Noticia.Descripcion</p>
        
        <img src="~/Content/@ViewBag.Noticia.Multimedia" alt="Se rompio la foto:(" />
    
    </body>
   

</html>



